.modify-tag-delete {
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    width: 100%;
}
.modify-tag-delete:hover {
    background-color: #f4f4f4;
}