.home-page-header {
  background-image: url("../../../images/sean-benesh-wK8LMfHtRoM-unsplash.jpg");
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  display: flex;
  padding: 3rem;
  color: white;
  justify-content: space-between;
  font-size: 2rem;
  text-shadow: 0.5rem 0.5rem 1rem black;
  height: 70%;
}

.header-date {
  display: flex;
  font-size: 1.5rem;
}
