.modify-tag-create {
    background-color: white;
    border: none;
}
.new-tag-button {
    display: flex;
    border: none;
    cursor: pointer;
    color: #606c6c; 
    border-radius: 0.5rem;
}

.new-tag-button:hover {
    background-color: #e8e4e4;
}   