.notes-section {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 3.5rem;
}


.list-notes {
    display: flex;
    flex-direction: row;
    width:25rem;
    height:100vh;
    background-color: grey;
}

