.landing-page {
  padding: 10rem;
  letter-spacing: 0.08rem;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.intro {
  padding: 3rem 11rem;
  text-align: center;
  padding-bottom: 5rem;
}

.intro-text {
  font-size: 5.5rem;
  padding-bottom: 1.75rem;
  font-weight: 600;
}

.intro-description {
  font-size: 2.4rem;
  font-weight: lighter;
  line-height: 4rem;
  padding-bottom: 4.5rem;
  font-weight: 400;
}

.sign-up-button {
  background-color: #00a82d;
  cursor: pointer;
  border-radius: 0.3rem;
  color: white;
  border: 0;
  padding: 1.75rem 8.5rem;
  font-size: 1.75rem;
  text-decoration: none;
  height: 5rem;
  width: 30rem;
}
.sign-up-button:hover {
  background-color: #18cc44;
  transition-duration: 0.1s;
  transition: all 0.2s ease-in-out;
}

.login-link {
  display: block;
  cursor: pointer;
  padding-top: 4.5rem;
  text-decoration: underline;
  font-size: 1.65rem;
  color: black;
}

.login-link:hover {
  color: #00a82d;
  transition-duration: 0.1s;
  transition: all 0.2s ease-in-out;
}
.description {
  display: flex;
  gap: 1rem;
}
.app-image {
  height: 60rem;
  width: auto;
}
.description-points {
  display: block;
  padding-top: 5rem;
  font-size: 1.6rem;
}

.description-point-title {
  font-weight: 600;
  letter-spacing: 0.12rem;
  padding-bottom: 1.5rem;
}

.description-point-info {
  padding-bottom: 1.5rem;
  line-height: 2.3rem;
}
