.note-settings-container {
  /* position: relative; */
}

.note-settings-button {
  /* align-items: center; */
  /* background-color: transparent; */
  /* border: none; */
  /* cursor: pointer; */
  /* display: flex; */
  /* font-size: 1.6rem; */
}

.note-settings-delete-button-icon {
  border-radius: 0.5rem;
  cursor: pointer;
}

.note-settings-delete-button-icon:hover {
  background-color: #e8e4e4;
}

.note-settings-container {
  bottom: 0rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 2.5rem 0 rgb(0 0 0 / 10%);
  pointer-events: none;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  width: 14rem;
}

.note-settings-container.visible {
  bottom: -4rem;
  opacity: 1;
  pointer-events: all;
}

.note-settings-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  width: 100%;
}
