.home-page-section {
  height: 100%;
  width: 100%;
  display:flex;
  position:absolute;
  overflow: hidden;
}

.home-page-photo {
  width: 100%;
  margin: -40rem 0rem 0rem 0rem;
}

.home-page-notes-subsection {
  display:flex;
  gap:3rem;
  padding: 0rem 3rem 0rem 3rem;

}

.home-page-notes-container {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.3);
  width: 77rem;
  height:35rem;
  top: -15rem;
}
.home-page-notes-header {
  display:flex;
  justify-content: space-between;
  padding: 1.75rem 1.5rem 1.75rem 1.5rem;

}
.home-page-notes-title {
  display: flex;
  width:8rem;
  height: 3rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor:pointer
}

.home-page-notes-title:hover,
.home-page-notes-options:hover {
  background-color: #e8e4e4;
}

.home-page-notes-text {
  display: flex;
  align-items: center;
  color:black;
  font-size: 1.35rem;
  font-weight: bold;
}
.home-page-notes-options {
  width: 3rem;
  height:auto;
  cursor: pointer;
  border-radius: 0.5rem;
}

.home-page-scratch-pad {
  position: relative;
  background-color: #fff4bc;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.3);
  width: 35rem;
  height:35rem;
  top: -15rem;
  padding: 1.75rem 1.5rem 1.75rem 1.5rem;
}

.home-page-scratch-pad-header {
  padding-bottom: 1.5rem;
}
.home-page-scratch-pad-text {
  font-size: 1.35rem;
  font-weight: bold;
}

.home-page-scratch-pad-input {
  margin: auto;
  width:100%;
  height: 28rem;
  background: none;
  border: none;
  cursor: text;
  resize:none;
}

.home-page-scratch-pad-input:focus {
  outline: none;
}

.home-page-view-notes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: white;
  width: 100%;
  height: 81.5%;
  border-radius: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 1rem 1.5rem 1.75rem 1.5rem;
}
.home-page-notes-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height:25rem;

}
.home-page-display-note-container {
  background-color: white;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  text-decoration: none;
  transition: 0.2s;
  width: 17.95rem;
}

.home-page-display-note-container:hover {
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.3);
}

.home-page-display-note-container-name { 
  font-size: 1.4rem;
  color: #383434;
  font-weight: bold;
}

.home-page-view-all-notes{
  display:flex;
  flex-direction: column;
  height:25rem;
  background-color: white;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
}