.home-page-section {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  color: #383434;
}

.home-page-section-design {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  position: relative;
  width: 78%;
}
