.add-tag-container {
  background-color: white;
  border-radius: 0.5rem;
  border: 0.125rem solid #d8d4d4;
  padding: 2.5rem;
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.3);
  color: #383434;
  width: 70rem;
}

.add-tag-container > header {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
}

.add-tag-container > header > button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.add-tag-container > header > button > * {
  cursor: pointer;
}

.add-tag-header {
  font-weight: 600;
  margin-bottom: 2rem;
}

.add-tag-subheader{
  color:#787474;
  font-size: 1.5rem;

}

.move-tag-container-divider {
  border-top: 0.05rem solid rgb(171, 171, 171);
  margin: 1.5rem -2.5rem;
}
.add-tag-tags-container {
  height: 20rem; 
}
.select-tag {
  display: flex;
  gap: 4rem;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.move-note-notebooks-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.4rem;
}

.move-note-notebooks-notebook-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.move-note-notebooks-notebook-container > * {
  cursor: pointer;
}

.move-note-notebooks-notebook-container:hover{
  background-color: #f8f4f4;
}
.move-note-notebooks-notebook-left {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.move-note-notebooks-notebook-current {
  opacity: 1;
}

.move-note-notebooks-notebook-not-current {
  opacity: 0;
}

.current-notebook-selected {
  color: #10a4f4;
}
.move-note-notebooks-notebook-right {
  color: #a8a4a4;
}
.move-tag-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
}

.move-tag-cancel-button,
.move-tag-done-button {
  border-radius: 0.6rem;
  height: 3.75rem;
  outline: none;
  cursor: pointer;
}
.move-tag-cancel-button {
  border: 0.05rem solid #787474;
  border-width: thin;
  width: 7.5rem;
  font-size: 1.5rem;
  color: #787474;
  background-color: transparent;
}

.move-tag-cancel-button:hover {
  border: 0.05rem solid #504c4c;
  color: #504c4c;
  background-color: #f8f4f4;
}

.move-tag-done-button {
  border: 0.05rem solid #08a42c;
  width:6rem;
  border-width: thin;
  font-size: 1.5rem;
  color: white;
  background-color: #08a42c;
}

.move-note-done-button:hover {
  border: 0.05rem solid #088c24;
  background-color: #088c24;
}

