.FormPage {
    display: flex;
    background-color: #f7fcf9;
    height: 100vh;
    letter-spacing: 0.08rem;
    color: #949494;
    font-size: 1.4rem;
}

.form-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem 43rem;
    padding: 6.5rem 13rem;
    background-color: white;
    box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.3);
}

.form-image {
    padding-bottom: 3.5rem;
}

.evernote-slogan {
    font-size: 1.65rem;
    color: #555555;
    padding-bottom: 4.5rem;
}

.user-inputs {
    text-align: center;
    flex-direction: column;
}

.continue-button {
    cursor: pointer;
    background-color: #00a82d;
    color: white;
    border: 0;
    border-radius: 0.6rem;
    height: 4.5rem;
    width: 33rem;
    font-size: 1.75rem;
    letter-spacing: 0.08rem;
    margin-bottom: 7rem;
}

.continue-button:hover {
    background-color: #088c24;
    transition-duration: 0.1s;
    transition: all 0.2s ease-in-out;
}

.user-info {
    outline: none;
    border:0.05rem solid rgb(171,171,171, 50%);
    border-radius: 0.6rem;
    border-width: thin;
    margin-bottom: 1.5rem;
    padding-left: 1.75rem;
    font-size: 1.75rem;
    width: 33rem;
    height: 4.5rem;
}
.user-info:focus {
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(144, 238, 144, 75%)
}

.ask-user-sign-up {
    margin-bottom: 1.75rem;
}

.account-error-message{
    color: #CC4539;
    padding-bottom: 1.5rem;
}
