.view-edit-note-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.view-edit-note-section-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 9.6rem;
}

.view-edit-note-inputs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  padding: 4rem;
  border-top: 0.1rem solid #e8e4e4;
}

.view-edit-note-title-input {
  border: none;
  cursor: text;
  font-size: 3.4rem;
  font-weight: bold;
  height: 6rem;
  color: #383434;
}

.view-edit-note-title-input:focus {
  outline: none;
}

.view-edit-note-content-input {
  border: none;
  cursor: text;
  flex-grow: 1;
  overflow-y: scroll;
  resize: none;
}

.view-edit-note-content-input:focus {
  outline: none;
}
