.notes-section {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: #383434;
}

.list-notes {
  display: flex;
  flex-direction: column;
  width: 37rem;
  height: 100vh;
}

.list-notes-header {
  border-bottom: 0.1rem solid #e8e4e4;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  height: 10rem;
  padding: 2rem;
}

.list-notes-header-header {
  align-items: center;
  display: flex;
  font-size: 2rem;
  gap: 0.7rem;
}

.list-notes-header-sub {
  font-size: 1.4rem;
  color: #686464;
}

.notes-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
}

.display-note-container {
  border: 0.2rem solid transparent;
  border-bottom: 0.1rem solid #e8e4e4;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 12rem;
  width: 35.75rem;
  padding: 2rem;
  text-decoration: none;
  transition: 0.2s;
}

.display-note-container.active {
  border: 0.2rem solid #cccccc;
  background-color: white;
}

.display-note-container-name {
  font-size: 1.4rem;
  color: #383434;
}

.display-note-container-created-at {
  color: #686464;
}

.display-note-container:hover {
  background-color: white;
}

.display-notes-no-notes-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.display-notes-no-notes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 5rem;
}

.display-notes-no-notes-header {
  font-size: 1.8rem;
  font-weight: bold;
}

.display-notes-no-notes-text {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}

.display-notes-no-notes-button {
  background-color: transparent;
  border: none;
  color: green;
  cursor: pointer;
  font-size: 1.4rem;
}
