/* TODO Add site wide styles */
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Heebo', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    cursor:default;
}

