/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

*:hover {
  cursor: default;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}
