@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

*:hover {
  cursor: default;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

@keyframes container-slide-in {
  from {
    transform: translate(0);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}
