.LoginFormPage {
    background-color: #f7fcf9;
    height: 100vh;
}

.form-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 25rem;
    padding: 30rem 35rem;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgb(0 0 0 / 10%);



    
}