.notes-section {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: #383434;
}

.list-notes {
  display: flex;
  flex-direction: column;
  width: 37rem;
  height: 100vh;
}

.list-notes-header {
  border-bottom: 0.1rem solid #e8e4e4;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  height: 9.7rem;
  padding: 2rem;
}

.list-notes-header-header {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
}

.indiv-notebook-link-icon-display-notes {
  color: #383434;
}

.list-notes-header-sub {
  font-size: 1.4rem;
  color: #686464;
}

.notes-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.display-note-container {
  border: 0.2rem solid transparent;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 12rem;
  width: 35.75rem;
  padding: 2rem;
  text-decoration: none;
  transition: 0.2s;
}

.display-note-container.active {
  border: 0.2rem solid #cccccc;
  background-color: white;
}

.display-note-container-name {
  font-size: 1.4rem;
  color: #383434;
}
.display-note-container-content {
  color: #686464;
  height: 3.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-note-container-created-at {
  color: #686464;
}

.display-note-container:hover {
  background-color: white;
}

.display-notes-no-notes-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.display-notes-no-notes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 5rem;
}

.display-notes-no-notes-header {
  font-size: 1.8rem;
  font-weight: bold;
}

.display-notes-no-notes-text {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}

.display-notes-no-notes-button {
  background-color: transparent;
  border: none;
  color: green;
  cursor: pointer;
  font-size: 1.4rem;
}

.display-note-filters{
  background-color: #e8e4e4;
  padding: 1.15rem 2rem;
  font-size: 1.25rem;
}

.display-note-filters-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
}

.clear-filters {
  color:#0884c4;
  text-decoration: none;
}

.clear-filters:hover {
  cursor: pointer;
}

.display-note-filter-names {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #0884c4;
  color:white;
}

.selected-tags {
  display:flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.clear-single-filter {
  display:flex;
  justify-content: center;
  padding: 0.4rem;
  width:2rem;
  border-radius: 1rem;
  background-color: #085c8c;
  cursor: pointer;
}

.clear-single-filter:hover {
  color: #c0dcec;
  background-color: #08649c;
}