.ask-user-login {
    margin-bottom: 1.75rem;
}

.sign-up-page-login-link {
    font-size: 1.75rem;
    text-decoration: none;
    color:  #00a82d;
    margin-bottom: 1.75rem;
}

.sign-up-page-login-link:hover {
    color: #088c24;
    transition-duration: 0.1s;
    transition: all 0.2s ease-in-out;
}